{{ define "title" }}{{ .Page.Title }} &ndash; {{ site.Title }}{{ end }}
{{ define "main" }}
<main class="app-content">
    <article class="container">
        <header>
            <h1>{{ .Page.Title }}</h1>
        </header>
        {{ .Content }}
        <div>
            <a href="{{ printf "%s/latest/" $.Params.project | absURL }}" class="btn btn-lg btn-outline-primary my-3">Get started</a>
            <p class="text-muted mb-0">
                Currently v{{ (site.Param .Params.project).latest }}
            </p>
        </div>
    </article>
</main>
{{ end }}
