{{ define "title" }}{{ .Title }} &ndash; {{ site.Title }}{{ end }}
{{ define "main" }}
<main class="app-content">
    <article class="container">
        <header>
            <h1>{{ .Page.Title }}</h1>
        </header>
        <div class="d-flex">
            <div class="flex-grow-1">
                {{ .TableOfContents }}
            </div>
            {{ if .File }}
            <nav class="nav flex-column nav-pills mb-4">
                <a class="nav-link btn btn-sm btn-primary m-1"
                    href="https://github.com/{{ site.Params.organization }}/{{ .Params.project }}">
                    Source
                </a>
                <a class="nav-link btn btn-sm btn-primary m-1"
                    href="https://github.com/{{ site.Params.organization }}/{{ .Params.project }}/issues/new?template=bug-report.md&title=docs:%20issue%20with%20{{ .File.Path }}">
                    Report issue
                </a>
            </nav>
            {{ end }}
        </div>
        {{ .Content }}
        <footer class="my-5 text-muted">
            This page, including the code samples, is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons CC BY 4.0</a> license.
        </footer>
    </article>
</main>
{{ end }}
