{{ define "title" }}{{ .Title }} &ndash; {{ site.Title }}{{ end }}
{{ define "main" }}
<main class="app-content">
    <article class="container">
        <header>
            <h1>{{ .Page.Title }}</h1>
        </header>
        {{ .TableOfContents }}
        {{ .Content }}
    </article>
    <ul itemscope="itemscope" itemtype="http://schema.org/Blog" class="container timeline">
        {{ range .Pages.ByDate.Reverse }}
        <li itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" class="timeline-item">
            <div class="timeline-item-image"></div>
            <div class="timeline-item-content">
                <h2 itemprop="name headline">
                    <a href="{{.Permalink}}" itemprop="url">{{.Title}}</a>
                </h2>
                <p itemprop="description">{{.Summary | markdownify}}</p>
                <time datetime="{{.Date.Format "2006-01-02T15:04:05Z07:00"}}" itemprop="datePublished"
                    class="timeline-item-date">
                    {{ .Date.Format "January 2006" }}
                </time>
            </div>
        </li>
        {{ end }}
    </ul>
</main>
{{ end }}
