{{ define "title" }}{{ .Page.Title }} &ndash; {{ site.Title }}{{ end }}
{{ define "main" }}
<main class="app-content">
    <article>
        <header class="bg-primary mb-5">
            <div class="container h-100">
                <div class="row align-items-center h-100" style="min-height: 30vh;">
                    <div class="col-md-10 mx-auto">
                        <h1 class="landingpage-title">{{ .Page.Title }}</h1>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            {{ .Content }}
            <h2>Projects</h2>
            <div class="card-deck">
                {{ range $project := .Site.Params.projects }}
                <a class="card border-dark text-white" style="width: 18rem;" href="{{ ( printf "/%s/" $project ) | absURL }}">
                    <div class="card-body text-center">
                        <h3 class="card-title">{{ $project }}</h3>
                        <h4 class="card-subtitle mb-2 text-muted">iswai/{{ $project }}</h6>
                    </div>
                </a>
                {{ end }}
            </div>
        </div>
    </article>
</main>
{{ end }}
