blockquote {
    background-color: $dark;
}

blockquote {
    padding: 13px 26px;
    margin: 0 0 26px;
    font-size: 16px;
    border-left: 5px solid $primary;
}

blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h5 {
    margin-top: 0;
    font-weight: 600;
}
