.highlight {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: $dark;
}

pre {
  padding: 0;
  margin-bottom: 0;
}

.chroma {
  color: #a9b7c6;
  background-color: $dark;
}

.chroma .err {
  color: #d25252;
}

.chroma .lntd {
  padding: 0;
  margin: 0;
  vertical-align: top;
  border: 0;
}

.chroma .lntable {
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
  overflow: auto;
  border-spacing: 0;
  border: 0;
}

.chroma .hl {
  display: block;
  width: 100%;
  background-color: #323232;
}

.chroma .lnt {
  padding-right: 0.4em;
  margin-right: 0.4em;
  color: #808080;
}

.chroma .ln {
  padding-right: 0.4em;
  margin-right: 0.4em;
  color: #808080;
}

.chroma .k {
  font-weight: bold;
  color: #cb772f;
}

.chroma .kc {
  font-weight: bold;
  color: #9876aa;
}

.chroma .kd {
  font-weight: bold;
  color: #cb772f;
}

.chroma .kn {
  font-weight: bold;
  color: #cb772f;
}

.chroma .kp {
  font-weight: bold;
  color: #cb772f;
}

.chroma .kr {
  font-weight: bold;
  color: #cb772f;
}

.chroma .kt {
  font-weight: bold;
  color: #cb772f;
}

.chroma .na {
  color: #ffc66d;
}

.chroma .nv {
  color: #9876aa;
}

.chroma .nb {
  font-weight: bold;
  color: #a9b7c6;
}

.chroma .nt {
  font-weight: bold;
}

.chroma .ld {
  font-weight: bold;
  color: #619647;
}

.chroma .s {
  color: #619647;
}

.chroma .sa {
  color: #619647;
}

.chroma .sb {
  color: #619647;
}

.chroma .sc {
  color: #619647;
}

.chroma .dl {
  font-weight: bold;
  color: #619647;
}

.chroma .sd {
  color: #619647;
}

.chroma .s2 {
  color: #619647;
}

.chroma .se {
  color: #619647;
}

.chroma .sh {
  color: #619647;
}

.chroma .si {
  color: #619647;
}

.chroma .sx {
  color: #619647;
}

.chroma .sr {
  font-weight: bold;
  color: #619647;
}

.chroma .s1 {
  color: #619647;
}

.chroma .ss {
  color: #619647;
}

.chroma .m {
  font-weight: bold;
  color: #6897bb;
}

.chroma .mb {
  font-weight: bold;
  color: #6897bb;
}

.chroma .mf {
  font-weight: bold;
  color: #6897bb;
}

.chroma .mh {
  font-weight: bold;
  color: #6897bb;
}

.chroma .mi {
  font-weight: bold;
  color: #6897bb;
}

.chroma .il {
  font-weight: bold;
  color: #6897bb;
}

.chroma .mo {
  font-weight: bold;
  color: #6897bb;
}

.chroma .c {
  color: #808080;
}

.chroma .ch {
  color: #619647;
}

.chroma .cm {
  color: #619647;
}

.chroma .c1 {
  color: #808080;
}

.chroma .cs {
  color: #808080;
}

.chroma .cp {
  font-weight: bold;
  color: #cb772f;
}

.chroma .cpf {
  font-weight: bold;
  color: #cb772f;
}

.chroma .gh {
  font-weight: bold;
}

.chroma .gs {
  font-weight: bold;
}

.chroma .gu {
  font-weight: bold;
}

.chroma .gl {
  text-decoration: underline;
}

.lntable td:first-of-type {
  border-right: 1px solid #808080;
}

.lntable td:last-of-type {
  padding-left: 1rem;
}
